@import "../../../../../../variables.scss";


* {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
}

.container {
    padding: 0px 25px;
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 2px;
    flex-basis: fit-content;
}

.styleWhite {
    border-color: $alios-azul;
    background-color: $branco;
    color: $alios-azul;
}

.styleBlue {
    border-color: $alios-azul;
    background-color: $alios-azul;
    color: $branco;
}