// primaria
$alios-azul: #165C7D;

// secundária
$laranja-alios: #FFA300;

// complementares
$azul-claro-alios: #009ED0;
$verde-alios: #00C246;
$azul-intermediario-alios: #007D8A;

//escala de criticidade
$criticidade-vermelho: #C13018;
$criticidade-laranja: #FFA300;
$criticidade-amarelo: #FCD610;
$criticidade-verde: #00C246;
$criticidade-azul: #009ED0;

//escala de cinza
$preto-alios: #040F14;
$cinza-4: #889499;
$cinza-3: #A7B0B5;
$cinza-2: #C6CED1;
$cinza-1: #E7EEF1;

//variações tonais
$azul-alios-140: #012F44;
$azul-alios-120: #013F5C;
$azul-alios-100: #165C7D;
$azul-alios-80: #457D97;
$azul-alios-60: #739DB1;
$azul-alios-40: #A2BECB;
$azul-alios-20: #D0DEE5;
$background: #E8EFF2;
$laranja-alios-120: #C37D00;
$laranja-alios-100: #FFA300;
$laranja-alios-80: #FFB533;
$laranja-alios-60: #FFC866;
$laranja-alios-40: #FFDA99;
$laranja-alios-20: #FFEDCC;